
.mid-section{
    height: 650px;

}
.first{
    height:95%;
    overflow: auto;
    width: 100%;
                                                                 ;
}
.first::-webkit-scrollbar{
     display: none;
}
.second{
    height: 5%;
    width: 100%;
    
}

@media only screen and (min-width:0) and (max-width:720px){
    .mid-section{
        height: 600px;
    }
}

/* @media only screen and (min-width:0) and (max-width:720px){

    .left,.center, .right{
    width: 60%;
    clear: both;
    margin-bottom: 8px;
}
.right{
    float: right;
}
.left{
    float: left;
}
} */


.left,.center, .right{
    width: 60%;
    clear: both;
    margin-bottom: 8px;
}
.right{
    float: right;
}
.left{
    float: left;
}
.center{
    margin: auto;
    margin-bottom: 8px;
}